  .side-bar {
    background-color: #242424;
    max-height: 90.1vh;
    width: 16.5%;
    overflow-y: auto;
  }

  .side-bar > h1 {
    color: rgb(161, 161, 161);
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    margin-left: 10px;
    display: flex;
  }

  .playlists {
    height: 95vh;
  }