.queue-container {
    background-color: #242424;
    height: 75vh;
    display: block;
    flex: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 80px;
}

.queue-text {
    color: #fff;
    padding-left: 10px;
}

.queue-row {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
}

.queue-row:hover {
    /* background-color: #242424; */
    cursor: pointer;
    transition: 0.01s;
}

.shuffle-playlist {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.shuffle-button {
    color: #fff;
    justify-self: center;
    margin: auto;
}

.clicked {
    color: rgb(69, 255, 69);
}

.song-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    justify-content: left;
    overflow-x: hidden;
    width: 80%;
}

.album-cover {
    display: block;
    margin: auto;
}

.album-img {
    border-radius: 5px;
    display: block;
    margin: auto;
    height: 40px;
    width: 40px;
}

.song-name-artist {
    width: 50vh;
    font-size: 1rem;
    justify-content: center;
    overflow-x: hidden;
}

.song-name-artist > p {
    color: #fff;
    margin: 5px;
}

.clear {
    padding-left: 10px;
}

.clear > p {
    color: #fff;
}

.clear:hover {
    cursor: pointer;
    opacity: 0.7;
}

.options {
    justify-self: center;
    margin: auto;
    color: #fff;
    display: flex;
    position: relative;
}

.dropdown-menu li {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-family: "Lato", sans-serif;
  }
  
  .dropdown-menu li:hover {
    background-color: grey;
  }

  .dropdown-menu {
    position: absolute;
    background-color: #121212;
    min-width: 200px;
    justify-content: center;
    margin-right: 30px;
    margin-top: 32px;
    right: 0;
    z-index: 1;
    padding: 0;
  }

.faint {
    opacity: 0.7;
}