.main-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.song-list-container {
    flex: 60%;
    height: 75vh;
    background-color: #121212;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.title {
    text-align: center;
}

.song-row {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    justify-content: left;
    overflow-x: hidden;
}

.song-row:hover {
    background-color: #242424;
    cursor: pointer;
    transition: 0.01s;
}

.index {
    height: 16px;
    width: 16px;
    display: block;
    margin: auto;
    padding-left: 20px;
}

.album-cover {
    display: block;
    margin: auto;
}

.album-img {
    border-radius: 5px;
    display: block;
    margin: auto;
    height: 40px;
    width: 40px;
}

.song-name-artist {
    width: 50vh;
    font-size: 1rem;
    overflow-x: hidden;
}

.song-name-artist > p {
    margin: 5px;
}

.faint {
    opacity: 0.7;
}

.album-name {
    width: 40vh;
    max-height: 35px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.duration {
    justify-content: left;
}

.add-queue {
    justify-content: center;
    margin: auto;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.add-queue:hover {
    opacity: 1;
    background-color: rgb(187, 187, 187);
    transition: 0.1s;
    cursor: pointer;
}

.icon {
    justify-content: center;
    margin: auto;
    color: #fff;
    opacity: 0.7;
}